.form{
    background-color: rgb(29, 29, 29);
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}
.input{
    line-height: 34px;
    padding: 0 10px;
    outline: 0;
    border: 0;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    background-color: white;
}
.btn_container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    cursor: pointer;
}
.btn{
    padding: 5px 10px;
    outline: 0;
    cursor: pointer;
    border: none;
}
:global(.react-datepicker-wrapper){
    width: 100%;
}
.flag{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-25%);
    z-index: 1000;
    font-size: 22px;
}