.nav_container{
    width: 100%;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.flex{
    font-size: 0;
}

.nav_container :global(.active){
    color: aqua !important;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.logo{
    background-image: url('logo.png');
    aspect-ratio: 1/0.4;
    background-size:80%;
    width: 150px;
}