.city_info{
    background-color: rgb(29, 29, 29);
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}
.sub_title{
    font-size: 10px;
    color: grey;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: 600;
}
.info{
    margin-bottom: 20px;
}